*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Balsamiq Sans', cursive;
}
header{
	background-color: #222;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.vid-intro{
	height: 500px;
	width: 500px;
}
p{
	color: #fff;
	font-size: 20px;
	margin-left: 200px;
}